.about-us-container {
    width: 1000px;
     margin: 0 auto;
     padding: 20px;
    /* background-color: red; */
    text-align: justify;
}
  
.about-us-heading {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
  
.about-us-description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px; 
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  padding: 0 20px; 
  line-height: 1.8;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
  
.about-us-content {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.6;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}


@media (max-width: 768px) {
  .about-us-container {
    width: 90%;
    padding: 15px 25px;
  }
  
  .about-us-description {
    font-size: 18px;
  }
  
  .about-us-content {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .about-us-container {
    width: 98%;
    padding: 10px;
  }
  
  .about-us-description {
    font-size: 18px;
    padding: 0 5px;
  }
  
  .about-us-content {
    font-size: 15px;
    padding: 0 5px;
  }
}
